$font-heading: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-text: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-accent: "Palatino Linotype", "Book Antiqua", Palatino, serif;

// icon font
[class*=" cticon-"],[class^=cticon-] {
    font-family: cticon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cticon-bookmark2:before {
    content: "\E928"
}

.cticon-cookpan:before {
    content: "\E912"
}

.cticon-nutrition:before {
    content: "\E911"
}

.cticon-flickr:before {
    content: "\E910"
}

.cticon-open-panel:before {
    content: "\E90D"
}

.cticon-img-attributes:before {
    content: "\E90C"
}

.cticon-unlink:before {
    content: "\E90B"
}

.cticon-strike:before {
    content: "\E906"
}

.cticon-ordered-list:before {
    content: "\E907"
}

.cticon-unordered-list:before {
    content: "\E908"
}

.cticon-send:before {
    content: "\E903"
}

.cticon-tune2:before {
    content: "\E904"
}

.cticon-embed-url:before {
    content: "\E902"
}

.cticon-email-updates:before {
    content: "\E901"
}

.cticon-cart-add:before,.cticon-cart:before,.cticon-ecommerce:before,.cticon-purchase:before,.cticon-shopping:before {
    content: "\E92A"
}

.cticon-health:before,.cticon-medical:before,.cticon-medicine:before,.cticon-pulse:before {
    content: "\E92B"
}

.cticon-books:before {
    content: "\E929"
}

.cticon-codepen2:before {
    content: "\E927"
}

.cticon-admin-configure-theme:before,.cticon-bucket:before {
    content: "\E920"
}

.cticon-admin-manage-content:before {
    content: "\E91E"
}

.cticon-admin-edit-post:before,.cticon-eraser:before {
    content: "\E91D"
}

.cticon-bubbles:before {
    content: "\E919"
}

.cticon-shrink:before {
    content: "\E917"
}

.cticon-enlarge:before {
    content: "\E915"
}

.cticon-target:before {
    content: "\E913"
}

.cticon-upload:before {
    content: "\E90F"
}

.cticon-earth:before {
    content: "\E90A"
}

.cticon-reddit:before {
    content: "\E900"
}

.cticon-printer:before {
    content: "\E801"
}

.cticon-google:before {
    content: "\E60C"
}

.cticon-question:before {
    content: "\E679"
}

.cticon-images:before {
    content: "\E63B"
}

.cticon-bulk-upload:before {
    content: "\E678"
}

.cticon-add-pic:before {
    content: "\E62A"
}

.cticon-hr:before {
    content: "\E628"
}

.cticon-embed:before {
    content: "\E629"
}

.cticon-plus-mini:before {
    content: "\E677"
}

.cticon-edit-post:before {
    content: "\E676"
}

.cticon-new-post:before {
    content: "\E675"
}

.cticon-ct-hollow:before {
    content: "\E674"
}

.cticon-dash-blog:before {
    content: "\E673"
}

.cticon-badge:before {
    content: "\E672"
}

.cticon-logo-v3:before {
    content: "\E671"
}

.cticon-myblog:before {
    content: "\E670"
}

.cticon-scan:before {
    content: "\E66C"
}

.cticon-map:before {
    content: "\E66D"
}

.cticon-crown:before {
    content: "\E66E"
}

.cticon-calendar:before {
    content: "\E66F"
}

.cticon-filter-reset:before {
    content: "\E66B"
}

.cticon-filter:before {
    content: "\E669"
}

.cticon-sort:before {
    content: "\E66A"
}

.cticon-insights:before {
    content: "\E668"
}

.cticon-dollar:before {
    content: "\E666"
}

.cticon-at:before {
    content: "\E667"
}

.cticon-profile:before {
    content: "\E662"
}

.cticon-jump-to2:before {
    content: "\E665"
}

.cticon-manage-content:before {
    content: "\E663"
}

.cticon-admin-bloglist:before,.cticon-bloglist:before {
    content: "\E664"
}

.cticon-plated:before {
    content: "\E661"
}

.cticon-admin-followers:before,.cticon-follower:before {
    content: "\E660"
}

.cticon-comment:before {
    content: "\E609"
}

.cticon-admin-new-post:before,.cticon-write-now:before {
    content: "\E65F"
}

.cticon-fork:before {
    content: "\E65D"
}

.cticon-spoon:before {
    content: "\E65E"
}

.cticon-lightning2:before {
    content: "\E65A"
}

.cticon-download:before {
    content: "\E658"
}

.cticon-tick-circle:before {
    content: "\E657"
}

.cticon-tick-fill:before {
    content: "\E655"
}

.cticon-close-fill:before {
    content: "\E656"
}

.cticon-tick:before {
    content: "\E653"
}

.cticon-h3:before {
    content: "\E909"
}

.cticon-h2:before {
    content: "\E626"
}

.cticon-views-3:before {
    content: "\E651"
}

.cticon-search:before {
    content: "\E650"
}

.cticon-more-vertical:before {
    content: "\E91C"
}

.cticon-more-fill:before {
    content: "\E64B"
}

.cticon-comment-fill:before {
    content: "\E647"
}

.cticon-wrench-fill:before {
    content: "\E648"
}

.cticon-unfollow-fill:before {
    content: "\E64A"
}

.cticon-edit-fill:before {
    content: "\E649"
}

.cticon-follow:before {
    content: "\E646"
}

.cticon-unlike-fill:before {
    content: "\E645"
}

.cticon-browse-theme:before {
    content: "\E63F"
}

.cticon-front:before {
    content: "\E64C"
}

.cticon-arrow-up:before {
    content: "\E65C"
}

.cticon-arrow-down:before {
    content: "\E65B"
}

.cticon-back:before {
    content: "\E640"
}

.cticon-like-fill:before {
    content: "\E641"
}

.cticon-like-outline:before {
    content: "\E642"
}

.cticon-whatsapp:before {
    content: "\E63E"
}

.cticon-cook:before {
    content: "\E61C"
}

.cticon-image-fit:before {
    content: "\E630"
}

.cticon-bullet:before {
    content: "\E63C"
}

.cticon-heading:before {
    content: "\E63D"
}

.cticon-move:before {
    content: "\E63A"
}

.cticon-admin-delete:before,.cticon-delete:before {
    content: "\E61A"
}

.cticon-group-heading:before {
    content: "\E638"
}

.cticon-dish-info:before {
    content: "\E637"
}

.cticon-collection:before {
    content: "\E60D"
}

.cticon-difficulty:before {
    content: "\E634"
}

.cticon-tags:before {
    content: "\E633"
}

.cticon-time:before {
    content: "\E635"
}

.cticon-info:before {
    content: "\E636"
}

.cticon-text-center:before {
    content: "\E62C"
}

.cticon-text-left:before {
    content: "\E62D"
}

.cticon-text-right:before {
    content: "\E62E"
}

.cticon-image-center:before {
    content: "\E62F"
}

.cticon-image-right:before {
    content: "\E631"
}

.cticon-image-left:before {
    content: "\E682"
}

.cticon-link:before {
    content: "\E622"
}

.cticon-italics:before {
    content: "\E623"
}

.cticon-quote:before {
    content: "\E624"
}

.cticon-bold:before {
    content: "\E625"
}

.cticon-add-video:before {
    content: "\E627"
}

.cticon-plus:before {
    content: "\E62B"
}

.cticon-note:before {
    content: "\E620"
}

.cticon-dish:before {
    content: "\E621"
}

.cticon-cross:before {
    content: "\E61F"
}

.cticon-analytics:before {
    content: "\E61D"
}

.cticon-edit:before {
    content: "\E61B"
}

.cticon-admin-settings:before,.cticon-settings:before {
    content: "\E67A"
}

.cticon-signout:before {
    content: "\E67B"
}

.cticon-diet:before {
    content: "\E614"
}

.cticon-up:before {
    content: "\E639"
}

.cticon-down:before {
    content: "\E616"
}

.cticon-close:before {
    content: "\E611"
}

.cticon-playhead-2:before {
    content: "\E610"
}

.cticon-refresh:before {
    content: "\E60F"
}

.cticon-playhead:before {
    content: "\E60E"
}

.cticon-camera:before {
    content: "\E60A"
}

.cticon-alert:before {
    content: "\E67D"
}

.cticon-jump-to:before {
    content: "\E67E"
}

.cticon-star-fill:before {
    content: "\E67F"
}

.cticon-star:before {
    content: "\E680"
}

.cticon-more:before {
    content: "\E60B"
}

.cticon-share-new:before {
    content: "\E613"
}

.cticon-views:before {
    content: "\E617"
}

.cticon-bookmark:before {
    content: "\E64E"
}

.cticon-trash2:before {
    content: "\E64F"
}

.cticon-lock:before {
    content: "\E926"
}

.cticon-facebook2:before {
    content: "\E925"
}

.cticon-tune:before {
    content: "\E92C"
}

.cticon-playlist_play:before {
    content: "\E923"
}

.cticon-search2:before {
    content: "\E924"
}

.cticon-check_box_outline_blank:before {
    content: "\E922"
}

.cticon-arrow_back:before {
    content: "\E918"
}

.cticon-desktop_mac:before {
    content: "\E914"
}

.cticon-home-outline:before {
    content: "\E921"
}

.cticon-cloud-upload:before {
    content: "\E90E"
}

.cticon-email:before {
    content: "\E608"
}

.cticon-admin-analytics:before,.cticon-line-graph:before {
    content: "\E91F"
}

.cticon-share-alternitive:before {
    content: "\E91A"
}

.cticon-share:before {
    content: "\E91B"
}

.cticon-mobile:before {
    content: "\E916"
}

.cticon-help:before {
    content: "\E905"
}

.cticon-retweet:before {
    content: "\E64D"
}

.cticon-admin-affiliates:before,.cticon-referral:before {
    content: "\E800"
}

.cticon-yum:before {
    content: "\E606"
}

.cticon-stumble:before {
    content: "\E607"
}

.cticon-youtube:before {
    content: "\E600"
}

.cticon-google-plus:before {
    content: "\E601"
}

.cticon-facebook:before {
    content: "\E602"
}

.cticon-twitter:before {
    content: "\E603"
}

.cticon-instagram:before {
    content: "\E604"
}

.cticon-pinterest:before {
    content: "\E605"
}
