//---PAGINATION---//
	.paginate{
		border-bottom:2px solid $smoke;
		padding:1rem 0;
		margin: 1rem 0 0rem;
		display:table;
		width: 100%;
		.previus{
			display:table-cell;
			text-align:left;
		}
		.next{
			display:table-cell;
			text-align:right;
		}
		.center{
			display:table-cell;
			text-align: center;
		}
		.btn {
			padding: 0;
			a {
				border: 0;
				color: $white;
				display: block;
				padding: 5px 10px;
				&:hover {
					color: $link-primary;
				}
			}
		}
	}
