//--RECIPE PAGE--//

.generic .flag{
	position: relative;
	display: table;
	width: 100%;
	label{
		position: absolute;
		display:table-cell;
		width: 100%;
		align-content:center;
		top:16px;
		font-size: 12px;
		color: $ash;
		text-align: center;
		span{
			display: inline-block;
			background-color: white;
			border:1px solid $smoke;
			padding:4px 15px;
		}
	}
}

.ingredients{
	div{
		line-height: 1.4;
		margin:8px 0;
	}
}

body.single-recipe {
	.images {
		margin: 1.5rem 0;
		img {
			max-width: 100%;
			height: auto;
		}
		.recipe-schema-thumb {
			display: none;
		}
	}
}

// recipe summary
.ct-recipe .recipe-meta-inline {
	.block-head {
		display: table;
		width: 100%;
	}

	ul {
		clear: both;

		li {
			margin-left: 0;
			list-style: none;
			width: 100%;
			list-style-position: outside;
			margin-bottom: .25rem;
			@media($md) {
				width: 50%;
				float: left;
			}

			.item-key {
				display: inline-block;
				color: #666;
				&::after {
					content: ':';
					margin: 0 4px;
				}
			}
			.item-value {
				display: inline-block;
			}
		}
	}
}

// ingredients
.ct-recipe .ing-line {
	display: table;
	width: 100%;

	div {
		display: table-cell;
    line-height: 1.2;
    padding-top: .35rem;
    padding-bottom: .35rem;
	}

	.ing-name {
		width: auto;
    padding-right: 5px;
		position: relative;
    overflow: hidden;
	}

	.ing-qty {
		width: 30%;
    font-style: italic;
    margin-left: 3px;
		padding-left: 4px;
	}
}

// remove checkboxes that recipe hero plugin adds
#rh_ingredients_form input,
#rh_ingredients_form label {
	display: none;
}
