// recipe comments

.ct-post-end-section {
	clear: both;
}

.ct-post-actions {
	position: relative;
	margin-top: 50px;

	.ct-post-nav-content {
		-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.93), rgba(255,255,255,0.93) 12%, #fff 50%, #fff);
    background: linear-gradient(180deg, rgba(255,255,255,0.93) 0, rgba(255,255,255,0.93) 12%, #fff 50%, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edffffff', endColorstr='#ffffff', GradientType=0);
    font-weight: 400;
    font-family: sans-serif;
    padding: 8px 0 7px;
    border-top: 1px solid rgba(0,0,0,0.12);
    height: 45px;
    line-height: 1;
		width: 100%;
		@media($md) {
			padding: 8px 0 7px;
		}

		a {
			color: #777 !important;
    	border: none !important;
    	text-decoration: none !important;
    	background: transparent !important;
		}

		.left {
			float: left !important;

			.btn-follow {
				font-size: 12px;
    		font-weight: 600;
				@media($md) {
					font-size: 14px;
				}

				span:first-child {
					top: 4px;
			    line-height: .8;
			    display: inline-block;
			    position: relative;
			    font-size: 22px;
			    margin-right: 2px;
				}

				&.followed span:first-child {
					color: #ff3e68;
				}
			}
		}

		.right {
			float: right !important;

			a {
				margin-right: 12px;
		    -webkit-transition: all .2s;
		    -moz-transition: all .2s;
		    -ms-transition: all .2s;
		    -o-transition: all .2s;
		    display: inline-block;
		    font-size: 12px;
		    vertical-align: baseline;
				@media($md) {
					margin-right: 18px;
					font-size: 14px;
				}

				span {
					top: 4px;
					line-height: .8;
					display: inline-block;
					position: relative;
					font-size: 22px;
					margin-right: 2px;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			.splitter {
				display: none;
		    height: 28px;
		    margin-right: 15px;
		    border-right: 1px solid #e9e9e9;
				@media($md) {
					display: inline-block;
				}
			}

			.share-on-mobile {
				display: inline-block;
		    width: 30px;
		    text-align: center;
				@media($md) {
					display: none;
				}

				span {
					font-size: 20px;
				}
			}
		}
	}

	.actions {
		float: left;

		a.btn-comment {
			float: left;
		}

		div.share-icons {
			-webkit-transition: all .3s;
	    -moz-transition: all .3s;
	    -ms-transition: all .3s;
	    -o-transition: all .3s;
	    height: 30px;
	    float: right;
	    display: none;
	    overflow: hidden;
	    white-space: nowrap;
	    width: 78px;
			@media($md) {
				display: block;
			}

			a {
				display: inline;
    		position: relative;
			}
		}

		a.fb,
		a.pin {
			margin-right: 10px;
    	color: #3a5c99 !important;

			span {
				font-size: 19px;
			}
		}

		a.pin {
			color: #d63734 !important;
		}

		a.share-more {
			margin-right: 0;

			span {
				font-size: 22px;
				top: 4px;
			}
		}

		a.tw,
		a.yum {
			opacity: 0;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    -ms-transition: all .2s;
	    -o-transition: all .2s;
	    top: 2px;
		}

		a.tw {
			color: #33ddf4 !important;
    	margin-right: 10px;
		}

		a.yum {
			color: #e3641d !important;
		}
	}

	// comment box
	.comment-block {
		padding: 0 0 10px;

		&.abs {
			bottom: 0;
	    position: absolute;
	    width: 100%;
		}

		.ct-comment-trigger {
			a {
				-webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    display: block;
		    height: 50px;
		    cursor: text !important;
		    color: #bbb !important;
		    text-decoration: none !important;
		    font-size: 16px;
		    width: 100%;
		    margin-bottom: 10px;
		    border: 1px solid #ccc !important;
		    background: rgba(153,153,153,0.04);
		    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
		    font-family: sans-serif;
		    -webkit-transition: all .2s;
		    -moz-transition: all .2s;
		    -ms-transition: all .2s;
		    -o-transition: all .2s;
		    outline: none;
		    border-radius: 2px;
		    background-clip: padding-box;
		    padding: 10px;
			}
		}
	}
}

// modal
.ctmodal {
	display: none;
	font-family: sans-serif;
  pointer-events: all;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  z-index: 5000 !important;
  transition: opacity .25s ease-in-out;

	.overlay-content {
		max-width: 600px;
    background: #fff;
    position: absolute;
    right: 0 !important;
		@media($md) {
			width: 600px;
		}

		ul, ol {
			margin: 0;
			list-style: none;
			li {
				margin: 0;
			}
		}

		.overlay-header {
			-webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    -ms-transition: all .2s;
	    -o-transition: all .2s;
	    padding: .75rem .65rem;
	    background: #f6f6f6;
	    position: relative;
	    border-bottom: 1px solid rgba(212,212,212,0.5);
	    right: 0;
	    height: 58px;
	    font-family: sans-serif;
			@media($md) {
				padding: .75rem 1rem;
			}

			h3 {
				-webkit-transition: all .3s;
		    -moz-transition: all .3s;
		    -ms-transition: all .3s;
		    -o-transition: all .3s;
		    max-width: 60%;
		    font-size: 1.1rem;
		    line-height: 1.8;
		    display: inline-block;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    text-transform: none;
		    letter-spacing: -0.01rem;
		    padding: 0;
		    margin: 0;
		    text-align: left;
				font-family: sans-serif;
		    font-weight: 600;
		    color: rgba(0,0,0,0.4);
				position: relative;
				@media($md) {
					max-width: 80%;
    			font-size: 1.2rem;
				}
			}

			.right {
				bottom: 12px;
		    float: right;
		    margin-top: -7px;
		    overflow: visible;
				@media($md) {
					right: 1.5rem;
				}

				.close-panel {
					text-decoration: none;
					margin: 0 0 0 10px;
					line-height: 2;
					font-size: 1.6rem;
					color: rgba(0,0,0,0.4);
				}
			}
		}

		.overlay-body {
			padding: 1rem;
	    width: 100%;
	    position: absolute;
	    overflow-x: hidden;
	    overflow-y: scroll;
	    -webkit-overflow-scrolling: touch;
	    top: 58px;
	    bottom: 0;
			@media($md) {
				padding: 1rem 2rem;
			}
		}
	}
}

.ctmodal,
.ctmodal .overlay-content {
	overflow: hidden;
  width: 100%;
  height: 100%;
}

.sectional {
	display: block;
	border-bottom: 2px solid #e9e9e9;
	position: relative;

	&::after {
		visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
	}

	.active {
		pointer-events: none;
    border-bottom: 2px solid #444;

		a, h5 {
			color: #444;
		}
	}

	ul.items li {
		float: left;
		margin-right: 15px;
		line-height: 1.5;
		position: relative;
		bottom: -2px;
		@media($md) {
			margin-right: 20px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	h5 {
		margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
		font-family: sans-serif;
    letter-spacing: .02rem;
    display: inline-block;
    width: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-bottom: 2px solid transparent;
	}
}

body.admin-bar .ctmodal .overlay-content {
	top: 32px;
}

#post-comments {
	font-family: sans-serif;
  clear: both;

	.comment-block {
		-webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    padding: 5px 0 0;

		&.comment-item:first-child {
			padding-top: 20px !important;
		}

		.ct-usr {
			float: left;
		}

		img.tiny-profile {
			width: 36px;
	    height: 36px;
	    float: left;
	    margin-top: 2px;
	    border-radius: 50%;
	    background-clip: padding-box;
		}

		.comment,
		.comment-notes {
			padding-left: 50px;
	    padding-bottom: 5px;
	    line-height: 1.2;
			position: relative;
		}

		.comment-notes {
			color: #a2a2a2;
			font-size: .8rem;
		}

		p {
			font-size: .85rem;
	    line-height: 1.4;
	    margin: 0;
	    margin-bottom: 3px;
	    color: #444;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;

			a {
				color: #a2a2a2;
    		text-decoration: underline !important;
			}
		}

		.commenter {
			display: block;
	    font-size: .85rem;
	    font-weight: 600;

			a {
				color: rgba(0,0,0,0.9);
    		text-decoration: none !important;
			}
		}

		.timestamp {
			position: relative;
	    font-size: .7rem;
	    color: #a2a2a2;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
			@media($md) {
				-webkit-transition: all .2s;
		    -moz-transition: all .2s;
		    -ms-transition: all .2s;
		    -o-transition: all .2s;
		    opacity: 0;
			}
		}

		&:hover {
			.timestamp {
				opacity: 1;
			}
		}

		.comment-form {
			margin-top: 10px;
		}

		.comment-content {
			textarea,
			input {
				width: 100%;
		    border: 1px solid #ccc !important;
		    background: rgba(153,153,153,0.04);
		    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
		    font-family: sans-serif;
		    -webkit-transition: all .2s;
		    -moz-transition: all .2s;
		    -ms-transition: all .2s;
		    -o-transition: all .2s;
		    outline: none;
		    border-radius: 2px;
		    background-clip: padding-box;
		    padding: 10px;
		    font-size: .85rem;
		    line-height: 1.4;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;

				&:hover,
				&:focus {
					background: #fff;
    			border: 1px solid #999 !important;
				}
			}

			span.required {
				position: absolute;
				top: 15px;
				left: 54px;
				font-size: .9rem;
				color: #a2a2a2;
			}
		}

		.post-note,
		.form-submit {
			margin: 2px 0 0;

			.btn.post-this {
				float: right;
			}
		}
	}
}

// animation for modal
.easeInRight-appear,
.easeInRight-enter {
	-webkit-animation-name: easeInRight;
  animation-name: easeInRight;
}

.animatedquick {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes easeInRight {
    0%,to {
        -webkit-transition-timing-function: cubic-bezier(1, 1);
        transition-timing-function: cubic-bezier(1, 1)
    }

    0% {
        opacity: .5;
        -webkit-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes easeInRight {
    0%,to {
        -webkit-transition-timing-function: cubic-bezier(1, 1);
        transition-timing-function: cubic-bezier(1, 1)
    }

    0% {
        opacity: .5;
        -webkit-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

.easeInRight-leave {
    -webkit-animation-name: easeOutRight;
    animation-name: easeOutRight
}

@-webkit-keyframes easeOutRight {
    0%,to {
        -webkit-transition-timing-function: cubic-bezier(1, 1);
        transition-timing-function: cubic-bezier(1, 1)
    }

    0% {
        -webkit-transform: none;
        transform: none
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0)
    }
}

@keyframes easeOutRight {
    0%,to {
        -webkit-transition-timing-function: cubic-bezier(1, 1);
        transition-timing-function: cubic-bezier(1, 1)
    }

    0% {
        -webkit-transform: none;
        transform: none
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0)
    }
}
