@font-face {
	font-family: cticon;
	src: url(static/c77ec4b2bcebdca8ebbf9ecccde6b387.eot);
	src: url(static/c77ec4b2bcebdca8ebbf9ecccde6b387.eot#iefix) format('embedded-opentype'),url(static/8cca679e277e265a6e002722312ea5f5.ttf ) format('truetype'),url(static/035ce9e20adfdff0410806f763949379.woff) format('woff'),url(static/8bb8aa0c0482e55e89ccb6477f4a37b3.svg#cticon) format('svg');
	font-weight: 400;
	font-style: normal
}
